*{
    box-sizing: border-box;
}
body {
    display: grid;
    grid-template-columns: 1fr;
    margin:auto;
}

body * {
    margin: auto;
    width: 100%;
}

nav {
    display: flex;
    flex-direction: column;
}