* {
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 1em;
}

body * {
    margin: auto;
    width: 100%;
    font-family: Arial;
}

nav {
    display: flex;
    flex-direction: column;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    background-color: #cccccc;
    font-weight: bold;
    font-size: 1.5em;
    border: none;
    padding: 1em 0;
    margin: 1em 0;
}
h1 {
    text-align: center;
    /*padding-top:.5em;*/
    padding-bottom: .3em;
    /*margin: .5em;*/
    font-size: 5em;
}

.main, .sub-section {
    margin: 2em 0;

}

.header-img {
    margin-bottom: .5em;
}

.main h2{
    font-size: xx-large;
}
.sub-section{
    font-style: italic;
}
h2{
    margin: .5em 0;
}
footer {
    margin-top: 4em;
    margin-bottom: 1em;
}

.alert-info {
    text-align: center;
    background-color: #ccffff;
    border: 1px solid #cccccc;
    padding: 1em 0;
    margin: 1em 0;
}
.alert-info a {
    text-decoration: none;
    color: black;

}

@media screen and (min-width: 768px){
    body{
        display: grid;
        grid-template-areas:"h1 h1 nav"
                            "img img img"
                            "img img img"
                            "img img img"
                            "main main sub"
                            " . . . "
                            "footer footer .";
        grid-template-rows: repeat(7 , 1fr);
        grid-column-gap: 1em;
    }
    h1 {
        grid-area: h1;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    .nav-links {
        grid-area: nav;
        display: flex;
        flex-direction: row;
    }
    .nav-links li {
        background-color: white;

    }
    .header-img {
        grid-area: img;
    }
    .main {
        grid-area: main;
    }
    .sub-section {
        grid-area: sub;
    }
    .alert-info {
        display: none;
    }
    footer {
        grid-area: footer;
    }
}